.top-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 16px;
}

.link {
  font-size: 14px;
  text-decoration: none;
  color: #0066cc;
}

.link:hover {
  text-decoration: underline;
}
